@{
    ViewBag.Title = "SecretSatan";
}

@using SecretSatanWebMVC.Models
@model People

<form method="POST">
    <label for="Text">Введите имена через запятую</label>
    <p><textarea id="Text" name="Text"></textarea></p>
    <p><input type="submit" name="sub" value="Составить пары" /></p>
        @{
            if (People.IsSet)
            {
                <label for="pairsLayout">Пары:</label>
                <p><table id="pairsLayout">
                <tr>
                    <th class="hunterTd">Сатана</th>
                    <th class="victimTd">Жертва</th>
                </tr>
                @foreach (var pair in Model.Pairs)
                {
                    <tr>
                        <td class="hunterTd">@Html.Raw(pair.Key)</td>
                        <td class="victimTd">@Html.Raw(pair.Value)</td>
                    </tr>
                }
                </table></p>
            }
        }
    
</form>
